input[type=text],[type=number]{
    width: 65%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=checkbox]{
    width: 5%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
  }

  input[type=date]{
    width: 25%;
    padding: 5px 10px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
  }

  div {
    border-radius: 5px;
    background-color: rgb(242, 242, 242,.8);
    padding: 20px;
    
  }
 
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }

  table{
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
  }

  .submit{
    height:20px; 
    width:150px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}