body{
    background-color:beige;
}

h1 {
    text-align:center;    
}

form{   
        width: 382px;  
        margin: auto;  
        padding: 50px 100px;  
        background:rgb(190, 201, 201);  
        border-radius: 15px ; 
}

button{
    background-color: rgb(241, 184, 163);
    border-radius: 20px;
    width: 100px;

}

p{
    color:red
}


